github "realm/realm-cocoa" "v2.0.2"
github "soheilbm/Firebase" 
github "marketplacer/keychain-swift" ~> 7.0
git "git@github.com:propertyguru/PGNetworkSDK.git" "0.9.19"
github "jspahrsummers/xcconfigs" "0.10"
git "git@github.com:propertyguru/PGPersistentStore.git" "0.3"