<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Autocomplete</key>
	<dict>
		<key>General</key>
		<dict>
			<key>default</key>
			<string>/v1/autocomplete</string>
		</dict>
		<key>Agent</key>
		<dict>
			<key>default</key>
			<string>/v1/autocomplete/agent</string>
		</dict>
	</dict>
	<key>Boost</key>
	<dict>
		<key>Create</key>
		<dict>
			<key>default</key>
			<string>/boost-bookings/create</string>
		</dict>
		<key>Extend</key>
		<dict>
			<key>default</key>
			<string>/boost-bookings/extend</string>
		</dict>
		<key>Active</key>
		<dict>
			<key>default</key>
			<string>/v1/boost-bookings/booked</string>
		</dict>
		<key>Charges</key>
		<dict>
			<key>default</key>
			<string>/v1/boost-bookings/charges</string>
		</dict>
		<key>CreditQuery</key>
		<dict>
			<key>default</key>
			<string>/extranet_listing/countAllowedNewListings</string>
		</dict>
	</dict>
	<key>Condo</key>
	<dict>
		<key>detail</key>
		<dict>
			<key>default</key>
			<string>/v1/properties</string>
		</dict>
		<key>list</key>
		<dict>
			<key>default</key>
			<string>/v1/properties</string>
		</dict>
		<key>listings</key>
		<dict>
			<key>default</key>
			<string>/v1/listings</string>
		</dict>
		<key>csaQuery</key>
		<dict>
			<key>default</key>
			<string>/v1/discretionary-product/agent-specialist</string>
		</dict>
	</dict>
	<key>Agent</key>
	<dict>
		<key>detail</key>
		<dict>
			<key>default</key>
			<string>/agent/view</string>
		</dict>
	</dict>
	<key>PriceTrend</key>
	<dict>
		<key>singapore</key>
		<dict>
			<key>default</key>
			<string>/v1/properties/propertypriceindex</string>
		</dict>
		<key>others</key>
		<dict>
			<key>default</key>
			<string>/v1/properties/priceindexlisting</string>
		</dict>
	</dict>
	<key>Alert</key>
	<dict>
		<key>create</key>
		<dict>
			<key>default</key>
			<string>/listing/saveSearchListing</string>
		</dict>
		<key>get</key>
		<dict>
			<key>default</key>
			<string>/listing/getSaveSearch</string>
		</dict>
		<key>delete</key>
		<dict>
			<key>default</key>
			<string>/listing/deleteAlert</string>
		</dict>
	</dict>
	<key>ReferenceData</key>
	<dict>
		<key>Base</key>
		<dict>
			<key>default</key>
			<string>/referencedata/getReference</string>
		</dict>
		<key>RegionCode</key>
		<dict>
			<key>default</key>
			<string>/referencedata/getRegionCode</string>
		</dict>
		<key>GeographicArea</key>
		<dict>
			<key>default</key>
			<string>/referencedata/getGeographicArea</string>
		</dict>
		<key>GeographicArea_A</key>
		<dict>
			<key>default</key>
			<string>/referencedata/getGeographicArea/A</string>
		</dict>
		<key>GeographicArea_D</key>
		<dict>
			<key>default</key>
			<string>/referencedata/getGeographicArea/D</string>
		</dict>
		<key>GeographicArea_N</key>
		<dict>
			<key>default</key>
			<string>/referencedata/getGeographicArea/N</string>
		</dict>
		<key>GeographicArea_L</key>
		<dict>
			<key>default</key>
			<string>/referencedata/getGeographicArea/L</string>
		</dict>
		<key>Districts</key>
		<dict>
			<key>default</key>
			<string>/referencedata/getDistricts</string>
		</dict>
		<key>Interests</key>
		<dict>
			<key>default</key>
			<string>/referencedata/getInterests</string>
		</dict>
		<key>PropertyTypeCode</key>
		<dict>
			<key>default</key>
			<string>/referencedata/getPropertyTypeCode</string>
		</dict>
	</dict>
	<key>News</key>
	<dict>
		<key>List</key>
		<dict>
			<key>default</key>
			<string>/v2/news/list</string>
		</dict>
		<key>Detail</key>
		<dict>
			<key>default</key>
			<string>/v2/news/</string>
		</dict>
		<key>Categories</key>
		<dict>
			<key>default</key>
			<string>/v2/news/categories</string>
		</dict>
	</dict>
	<key>Listings</key>
	<dict>
		<key>Enquiry</key>
		<dict>
			<key>default</key>
			<string>/en/contact/add</string>
		</dict>
		<key>Detail</key>
		<dict>
			<key>default</key>
			<string>/v1/listings</string>
		</dict>
	</dict>
	<key>Calculator</key>
	<dict>
		<key>default</key>
		<string>/v1/calculator/mortgage</string>
	</dict>
	<key>Shortlist</key>
	<dict>
		<key>Get</key>
		<dict>
			<key>default</key>
			<string>/shortlist/get</string>
		</dict>
		<key>Add</key>
		<dict>
			<key>default</key>
			<string>/shortlist/add</string>
		</dict>
		<key>Remove</key>
		<dict>
			<key>default</key>
			<string>/shortlist/remove</string>
		</dict>
	</dict>
	<key>User</key>
	<dict>
		<key>Login</key>
		<dict>
			<key>default</key>
			<string>/en/user/login</string>
		</dict>
		<key>Logout</key>
		<dict>
			<key>default</key>
			<string>/en/user/logout</string>
		</dict>
		<key>Check</key>
		<dict>
			<key>default</key>
			<string>/en/user/check</string>
		</dict>
		<key>Reset</key>
		<dict>
			<key>default</key>
			<string>/en/user/forgotPassword</string>
		</dict>
		<key>Register</key>
		<dict>
			<key>sg</key>
			<string>/en/user/register</string>
			<key>my</key>
			<string>/en/user/register</string>
			<key>th</key>
			<string>/en/user/register</string>
			<key>id</key>
			<string>/en/user/register</string>
		</dict>
	</dict>
	<key>NewLaunches</key>
	<dict>
		<key>Featured</key>
		<dict>
			<key>default</key>
			<string>/v2/featuredprojects</string>
		</dict>
		<key>List</key>
		<dict>
			<key>default</key>
			<string>/v2/developerprojects/lists</string>
		</dict>
		<key>ReviewList</key>
		<dict>
			<key>default</key>
			<string>/v2/developerprojects/reviews/lists</string>
		</dict>
		<key>Review</key>
		<dict>
			<key>default</key>
			<string>/v2/developerprojects/reviews</string>
		</dict>
		<key>Detail</key>
		<dict>
			<key>default</key>
			<string>/v2/developerprojects</string>
		</dict>
		<key>Constants</key>
		<dict>
			<key>default</key>
			<string>/v2/developerprojects/constants</string>
		</dict>
		<key>Enquiry</key>
		<dict>
			<key>default</key>
			<string>/v2/developerprojects/enquiry</string>
		</dict>
	</dict>
	<key>Overseas</key>
	<dict>
		<key>List</key>
		<dict>
			<key>default</key>
			<string>/v2/overseas/lists</string>
		</dict>
		<key>CountryList</key>
		<dict>
			<key>default</key>
			<string>/v2/overseas/lists/count</string>
		</dict>
		<key>Detail</key>
		<dict>
			<key>default</key>
			<string>/v2/overseas</string>
		</dict>
	</dict>
	<key>UITest</key>
	<dict>
		<key>MultiCountry</key>
		<dict>
			<key>sg</key>
			<string>singapore</string>
			<key>my</key>
			<string>malaysia</string>
			<key>th</key>
			<string>thailand</string>
			<key>id</key>
			<string>indonesia</string>
		</dict>
		<key>Default</key>
		<dict>
			<key>default</key>
			<string>default</string>
		</dict>
		<key>NonString</key>
		<dict>
			<key>default</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
